<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Roboto|Poppins">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us!</title>
</head>

<style>
    #header{
        font-family: Sofia;
        color: darkolivegreen;
    }
    #define{
        font-family: Poppins;
        color:teal;
    }
</style>

<body>
    {% block content %}
    <h1 id="header">About the organisation</h1>
    <p id="define"> Description place_holder </p>
    {% endblock %}
</body>
</html>